.nav-container {
  min-width: 10rem;
  height: 100%;
  background-color: #e3eff8; /* from Colors.png */
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 16px;
  border: 1px solid #d9e7f5; /* from Colors.png */
  margin-right: 20px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-footer {
  position: absolute;
  bottom: 4rem;
}

@media screen and (max-width: 999px) {
  .nav-container {
    min-height: 150px;
    height: 17vh;
    margin-bottom: 2rem;
    margin-right: 0px;
  }

  .nav-items {
    float: left;
  }

  .nav-footer {
    float: right;
    position: inherit;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
}

@media screen and (max-width: 399px) {
  .nav-container {
    min-height: 285px;
    height: 32vh;
  }

  .nav-items {
    float: none;
  }

  .nav-footer {
    float: none;
    position: inherit;
    padding-right: 2rem;
    padding-top: 2rem;
  }
}

.user-profile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 2rem; /* Estilo inline removido */
}

.user-full-name {
  font-weight: bold;
  color: #0f335b; /* from Colors.png */
}

.user-first-name,
.user-last-name {
  display: block;
}

.user-headline {
  font-size: 12px;
  color: #4d5358; /* from Colors.png */
}

.nav-link {
  padding-top: 9px;
  font-size: 16px;
  color: #4d5358; /* from Colors.png */
}

.nav-link-title {
  padding-left: 8px;
}

.nav-active {
  color: #0f335b; /* from Colors.png */
  font-weight: bold;
}

.nav-icon {
  top: 6px;
  margin-right: 9px;
  position: relative;
}
