<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matTooltip]="isSidenavOpen ? 'Close menu' : 'Open menu'"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon *ngIf="!isSidenavOpen">menu</mat-icon>
    <mat-icon *ngIf="isSidenavOpen">close</mat-icon>
  </button>
  <a routerLink="/dashboard">
    <img src="assets/logo.svg" alt="Logo" class="logo" />
  </a>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Notifications">
    <img src="assets/bell.svg" class="icon" />
  </button>
</mat-toolbar>
