<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" (click)="onClose()">
    <img src="assets/home.svg" class="icon" /> Dashboard
  </a>
  <a mat-list-item routerLink="/accounts" (click)="onClose()">
    <img src="assets/users.svg" class="icon" /> Accounts
  </a>
  <a mat-list-item routerLink="/activities" (click)="onClose()">
    <img src="assets/sync.svg" class="icon" /> Activities
  </a>
  <div class="user-info">
    <img src="assets/john.png" class="avatar" />
    <div class="user-details">
      <p class="user-name">John Doe</p>
      <p class="user-role">Administrator</p>
    </div>
  </div>
  <a mat-list-item routerLink="/logout" (click)="onClose()">
    <img src="assets/sign-out.svg" class="icon" /> Sign out
  </a>
</mat-nav-list>
