<mat-card>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <img src="/assets/home.svg" alt="Home" width="24" height="24" />
        Dashboard
      </a>

      <a mat-list-item routerLink="/accounts">
        <img src="/assets/users.svg" alt="Accounts" width="24" height="24" />
        Accounts
      </a>
      <a mat-list-item routerLink="/activities">
        <img src="/assets/sync.svg" alt="Activities" width="24" height="24" />
        Activities
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <img src="/assets/john.png" alt="Home" width="24" height="24" />
        John Smith
        <br />
        <span>Principal</span>
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <img src="/assets/sign-out.svg" alt="Home" width="24" height="24" />
        Sign Out
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
